<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/CssTable.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/updated_data}" th:object="${data_update}">
  <div class="container" >
    <h2>List of our clubs</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Name club</div>
        <div class="col col-2">Country</div>
        <div class="col col-3">Year</div>
        <div class="col col-4">Rating</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Name club">
          <input type="text" th:value="${club_for_refresh.getName()}" th:id="name" th:name="name">
        </div>
        <div class="col col-1" data-label="Country" >
          <input type="text"  th:value="${club_for_refresh.getCounty()}" th:id="county" th:name="county">
        </div>
        <div class="col col-1" data-label="Year">
          <input type="date"  th:value="${club_for_refresh.getYear()}" th:id="year" th:name="year" >
        </div>
        <div class="col col-1" data-label="Rating" >
          <input type="number"  th:value="${club_for_refresh.getRating()}" th:id="rating" th:name="rating" >
        </div>
      </li>
    </ul>
    <center>
      <div>
        <button class="save_button" type="submit">Refresh</button>
      </div>
    </center>
  </div>
</form>
</body>
</html>